doctype html
html
    head
        title Nous contacter
        link(rel="stylesheet", href="/style.css")
    body
        nav
            ul
                li: a(href="/") Accueil
                li: a(href="/services") Nos services
                li: a(href="/contact") Nous contacter
        h1 Contactez-nous
        p Vous pouvez nous contacter via le formulaire ci-dessous.
