doctype html
html
    head
        title Nos services
        link(rel="stylesheet", href="/style.css")
    body
        nav
            ul
                li: a(href="/") Accueil
                li: a(href="/services") Nos services
                li: a(href="/contact") Nous contacter
        h1 Nos services
        p Voici les services que nous proposons.
